@font-face{
    font-family: Myfont;
    src: url(Assets/Myfont-Regular.otf);
}
a img{
    display: block;
    width: 60vw;
    margin: auto;
    padding-top: 1vw;
}
p{
    margin: 2vw 2vw 1vw 2vw;
}
body{
    background: lightcoral url(Assets/Bus_Fabric.jpg);
    background-size: 13%;
}
p{
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
}
.intro{
    font-weight: 600;
}
h2{
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
}
ul{
    display: flex;
    list-style: none;
    right: 30vw;
    left: 30vw;
    justify-content: space-evenly;
    padding:0px;
}
li{
    padding: 10px;
    font-family: Myfont;
    font-size: 30px;
}
.main{
    position: relative;
    font-family: Myfont;
    font-size: 27px;
    margin: auto;
    max-width: 75%;
    border-color: lightcoral;
    border-width: 5px;
    border-radius: 5px;
    background-color: lightcoral;
    height: calc(100vh - 16px);
    min-height: 51vw;
}
.Portfolio{
    display: flex;
    justify-content: center
}
.Portfolio img{
    padding: 10px;
    height: 10vw;
}
footer{
    position: absolute;
    bottom: 1vw;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    right: 0;
    left: 0;
    align-items: center;
    text-align: center;
}