@font-face{
    font-family: Myfont;
    src: url(../Assets/Myfont-Regular.otf);
}
p{
    margin: 1vw 1vw 0vw 1vw;
}
body{
    background: lightcoral url(../Assets/Bus_Fabric.jpg);
    background-size: 13%;
}
p{
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 6vw;
}
.main{
    position: relative;
    font-family: Myfont;
    font-size: 2vw;
    margin: auto;
    max-width: 75%;
    border-color: lightcoral;
    border-width: 5px;
    border-radius: 5px;
    background-color: lightcoral;
}
footer{
    margin-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    display: flex;
    margin: auto;
    width: 50%;
    min-width: 310px;
}
.column img{
    display: block;
    margin: auto;
    height: 300px;
    min-height: 30vw;
    margin-top: 1vw;
}
.links{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
}
.links a{
    padding: 20px;
    text-align: center;
}